<!DOCTYPE html>
<html>

<head>
    <title>Vocabulary</title>
    <link rel="stylesheet" href="static/table.css">
    <link rel="stylesheet" href="static/base.css">
</head>

<body>
    <h2>List of all vocabulary</h2>

    <!-- Selecting tags -->
    <label>Select tags to filter by:</label>
    <div class="tag-container">
        {% for tag in tags %}
        <label>
            {% if tag.checked %}
            <input type="checkbox" class="tag-checkbox" value="{{ tag.tag_name }}" checked>
            {% else %}
            <input type="checkbox" class="tag-checkbox" value="{{ tag.tag_name }}">
            {% endif %}
            <span>{{ tag.tag_name }}</span>
        </label>
        {% endfor %}
    </div>

    <!-- Input and button for adding new tags -->
    <br><br>
    <label for="new-tag">Add New Tag:</label>
    <input type="text" id="new-tag" placeholder="Enter a new tag">
    <button id="add-tag-button">Add Tag</button>

    <!-- Allows toggling of visibilities -->
    <div class="toggle-container">
        <label>
            <input type="radio" name="visibility" value="all" checked>
            <span>All</span>
        </label>
        <label>
            <input type="radio" name="visibility" value="english">
            <span>English</span>
        </label>
        <label>
            <input type="radio" name="visibility" value="cantonese">
            <span>Cantonese</span>
        </label>
    </div>

    <!-- Table containing all our vocabulary -->
    <table class="language-table" id="main-table">

        <!-- Contents of table pulled from db -->
        {% for phrase in vocab %}
        <tr>
            <td>{{ phrase.cantonese }}</td>
            <td>{{ phrase.jyutping|colornum|safe }}</td>
            <td>{{ phrase.english }}</td>
        </tr>
        {% endfor %}

        <!-- Additional row at bottom of table allows adding a new phrase -->
        <!-- autocomplete="one-time-code" stops chrome autofilling (annoying) -->
        <tr>
            <form id="add-phrase" onsubmit="addPhrase(event)">
                <td><input type="text" name="cantonese" id="cantonese-input" autocomplete="one-time-code" required></td>
                <td><input type="text" name="jyutping" id="jyutping-input" autocomplete="one-time-code" required></td>
                <td><input type="text" name="english" id="english-input" autocomplete="one-time-code" required></td>
                <td><button type="submit" class="add-button" id="add-button">+</button></td>
            </form>
        </tr>

    </table>

    <p>
        Here is some miscellaneous text because I'd like to test how it looks
    </p>

    <script src="static/script.js"></script>

</body>

</html>